<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{(afEvent | async)?.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding class='event-details'>
    Event Description: {{(afEvent | async)?.description}}
  </div>
  <div class='event-buttons'>
    
    <button *ngIf="currentUserId != null" ion-button large block color="primary" id='addPhoto' (click)="goToPhotoUploader()">
      Add Photos
    </button>
      <div *ngFor="let photo of photos | async">
        <photo [photo]="photo" feedType="event"></photo>
      </div>
    <button ion-button large block color="pop" id='share' (click)="shareEvent()">
      Share Event
    </button>
    <button *ngIf="currentUserId == (afEvent | async)?.host" ion-button large block color="pop" id='edit' (click)="goToEditEvent()">
      Edit Event
    </button>
    <button *ngIf="currentUserId == (afEvent | async)?.host" ion-button large block color="danger" id='delete' (click)="deleteEvent()">
      Delete Event
    </button>
  </div>
</ion-content>
