photo {
.photo-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 14px 20px;
  border: 0 solid #000;
  box-sizing: border-box;
  }
}
