<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Events
    </ion-title>
    <ion-buttons end>
      <button ion-button id="add-event" (click)="goToCreateEvent()">New Event<ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="userEvents">
    <button ion-item *ngFor="let event of userEvents | async" (click)="viewEvent(event.$key)">
      {{event.name}}
    </button>
  </ion-list>
  <ion-content *ngIf="!userEvents">
    Tap New Event To Create Your First Event
  </ion-content>
</ion-content>